[submodule "Isaac-GR00T"]
	path = eval/models/Isaac-GR00T
	url = https://github.com/robocasa-benchmark/Isaac-GR00T.git
[submodule "openpi"]
	path = eval/models/openpi
	url = https://github.com/robocasa-benchmark/openpi.git
[submodule "robocasa"]
	path = eval/simulators/robocasa
	url = https://github.com/robocasa/robocasa.git
[submodule "libero"]
	path = eval/simulators/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
