[submodule "Isaac-GR00T"]
	path = Isaac-GR00T
	url = https://github.com/robocasa-benchmark/Isaac-GR00T.git
[submodule "openpi"]
	path = openpi
	url = https://github.com/robocasa-benchmark/openpi.git
[submodule "robocasa"]
	path = robocasa
	url = https://github.com/robocasa/robocasa.git
